.wraper {
  width: 100%;
}
.max-container {
  max-width: 1500px;
  margin: auto;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.flex-row-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 12px;
}
.flex-row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.flex-v-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  font-weight: 700;
}
.heading-red {
  color: #e50019;
  font-weight: 700;
}

.subheading {
  font-weight: 600;
  color: #333333;
}

/* Buttons */
.btn-p {
  padding: 10px 15px;
}
/* Buttons */

/* list */
ul {
  list-style: circle;
}
ul li {
  margin-bottom: 0.7rem;
}
/* list */
