#detail-card-section .card {
  box-shadow: var(--primary-box-shadow);
  margin-bottom: 2rem;
}
#detail-card-section .text-box p {
  font-weight: 400;
  color: var(--gray);
}

#detail-card-section .icons {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.form-select {
  background-image: url("/assets/images/icons/share.png");
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--primary-color);
  margin-right: 5px;
  color: white;
}

.add-img{
  max-width: 250px;
}
