#detail-card-section .card h2 {
  font-family: var(--secondary-font);
}
#detail-card-section .card {
  box-shadow: var(--primary-box-shadow);
  margin-bottom: 2rem;
}
#detail-card-section .text-box p {
  font-family: var(--secondary-font);
  font-weight: 400;
  color: var(--gray);
}
#detail-card-section .text-box .description {
  color: var(--dark-gray);
  line-height: var(--primary-line-height);
}

#detail-card-section option,
#detail-card-section .inerested {
  font-family: var(--secondary-font);
}
#detail-card-section .icons {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
/* Share Dropdown */
.share-btn {
  all: unset;
  padding: 5px;
  border-radius: var(--primary-border-radiouse);
  color: white;
  background-color: var(--primary-color);
  margin-right: 5px;
}
.share-btn-icon {
  width: 30px;
  height:30px;
}
.dropdown-menu {
  background-color: var(--primary-color);
}
.dropdown-menu li {
  width: auto;
}
.dropdown-menu li a:hover {
  background-color: var(--primary-color-dark);
}
.share-icons {
  width: 25px;
  height: 25px;
  margin-right: 3px;
}
/* Share Dropdown */
.add-img {
  max-width: 250px;
  margin-bottom: 2rem;
}
.modal input:focus,
.modal textarea:focus,
#detail-card-section select:focus {
  box-shadow: none;
}
#thanks-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.hidden {
  display: none;
}
#thanks-modal .modal-box {
  background-color: red;
  position: absolute;
  bottom: 2%;
  right: 2%;
  font-size: large;
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  text-align: center;
  background-color: whitesmoke;
  transition: all 0.4s linear;
}
#thanks-modal .modal-box p {
  padding: 0;
  margin: 0;
}
