@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #0ca07b;
  --primary-color-dark: #0f9674;
  --gray: #808080;
  --dark-gray: #5c5a5a;
  --primary-font: "Poppins", sans-serif;
  --primary-box-shadow: 2px 2px 8px #312f2f38;
}
* {
  font-family: var(--primary-font);
}
/* Navbrs styles starts here */
#navbar {
  background-color: white;
  position: relative;
}
#navbar .box2 ul li a {
  color: var(--primary-color);
  font-weight: 600;
}
#navbar .menu-btn {
  all: unset;
  cursor: pointer;
  float: inline-end;
}
#navbar #menu-bar-icon {
  width: 30px;
  height: 30px;
  color: var(--primary-color);
}

/* Sidebar styling */
#navbar .sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -100%;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 8rem;
}
#navbar .sidebar ul {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#navbar .sidebar li a {
  font-weight: 600;
  font-size: large;
  color: var(--primary-color);
}

#navbar .closed {
  left: -100%;
}
#navbar .open {
  left: 0;
  width: 100%;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none;
  color: var(--primary-color);
}

/* Navbrs styles endss here */

/* hero-section styles starts here */
#hero-section {
  min-height: 30vh;
  background-image: url("/assets/images/background-images/abadimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}
#hero-section h1 {
  color: white;
}
/* hero-section styles ends here */

/* card-section starts here */
#cards-section h3 {
  text-align: center;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 2rem;
}

#cards-section .card {
  padding: 0 0 12px 0;
  font-weight: 600;
  background-color: rgb(226 237 237);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--primary-box-shadow);
}
#cards-section .card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 8px;
}
#cards-section .card .title {
  font-size: large;
  font-weight: 600;
}
#cards-section .card span {
  font-weight: bold;
}
#cards-section .card .details-btn {
  all: unset;
  background-color: var(--primary-color);
  width: 100%;
  text-align: center;
  padding: 8px 0;
  margin-top: 12px;
  border-radius: 5px;
}
#cards-section .card .details-btn a {
  text-decoration: none;
  color: white;
}
/* card-section ends here */

/* Footer */
#Footer,
#Footer p {
  margin: 0;
  padding: 0;
  color: white;
}
#Footer {
  padding: 1rem 0;
  background-color: var(--primary-color);
}

/* Footer */

h1 {
  font-weight: 700;
  text-align: center;
}
ul li a {
  text-decoration: none;
}

.wraper {
  width: 100%;
}
.max-container {
  max-width: 1200px;
  margin: auto;
}
.container-padding {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.flex-row-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 12px;
}
.flex-row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.flex-v-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  font-weight: 700;
}
.heading-primary {
  color: var(--primary-color);
}
.heading-red {
  color: #e50019;
  font-weight: 700;
}

.subheading {
  font-weight: 600;
  color: #333333;
}

/* Buttons */
.primary-btn {
  all: unset;
  background-color: var(--primary-color);
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  &:hover {
    background-color: var(--primary-color-dark);
    color: white;
  }
}
/* Buttons */
