@media screen and (max-width: 670px) {
  #hero-section #search-box {
    width: auto;
    flex-direction: column;
  }
}

@media screen and (max-width: 670px) {
  #detail-card-section .add-img {
    max-width: none;
  }
}
