/* hero-section starts here */
#hero-section #search-box {
  width: 500px;
  margin: auto;
  display: flex;
  gap: 8px;
  background-color: white;
  padding: 12px;
  border-radius: 5px;
}
#hero-section #search-box select:focus{
  box-shadow: none;
}

#hero-section #search-box #find-btn {
  all: unset;
  background-color: var(--primary-color);
  padding: 8px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  text-align: center;
}
/* hero-section ends here */

